html, body {
   height: 100%;
   background-image: url(../images/back1.jpg); 
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: bottom;

}

.jumbotron {
    background-color: #B9A79E;
    height: 275px;
    margin: 0;
    padding: 20px 20px;
    color: #F1E0E1;
    border-bottom: 5px solid #7d6d65 
}

/* #foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 100%;
  color: white;
  text-align: center; */
/* } */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgs {
  height: 275px;
  width: 275px;
  margin: 10px;
}

#lakeThings {
  position: absolute;
  bottom: 10px;
}

.borderBox {
  height: 150px;
  border-radius: 25px;
  padding: 10px;
  border: 3px solid #7d6d65;
  text-align: center;
  margin: 5px;
  font-size: 25px;
  background-color: #B9A79E;
  opacity: 88%;
  color: #5e5652;
}

.container2 {
  margin: 0px 0px 0px 0px;
}

.row{
  width: 100%;
}
