html, body {
   height: 100%;
   background-image: url(../images/back1.jpg); 
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: bottom;
}

.jumbotron {
    background-color: #B9A79E;
    height: 275px;
    margin: 0;
    padding: 20px 20px;
    color: #5e5652;
    border-bottom: 5px solid #7d6d65 
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgs {
  height: 265px;
  width: 265px;
  margin: 10px;
}

#imgShell:hover {
  height: 275px;
  width: 275px;
  margin: 5px;
}

#imgWood:hover {
  height: 275px;
  width: 275px;
  margin: 5px;
}

#imgCoin:hover {
  height: 275px;
  width: 275px;
  margin: 5px;
}

#imgPink:hover {
  height: 275px;
  width: 275px;
  margin: 5px;
}

#lakeThings {
  position: absolute;
  bottom: 10px;
}

.borderBox {
  height: 150px;
  border-radius: 25px;
  padding: 10px;
  border: 3px solid #7d6d65;
  text-align: center;
  margin: 5px;
  font-size: 25px;
  opacity: 60%;
  color: #5e5652;
}

#yellow {
  background-color: yellow;
}
#blue {
  background-color: lightblue;
}
#green {
  background-color: lightgreen;
}
#red {
  background-color: pink;
}

.container2 {
  margin: 0px 5px;
}

#lakeThings{
  width: 100%;
}
